/* Start Global  Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Dokdo', cursive;
}
/* End Global  Rules */

/* -- Start Header -- */
.header {
    background: url('../images/header.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 500px;
    position: relative;
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgba(0, 168, 255, 0.5)
}

.header .overlay h1 {
    font-size: 50px;
    margin-top: 100px;
}

.header .overlay .plan {
    border: 4px solid #FFF;
    font-size: 24px;
    width: 48%;
    padding: 20px;
    margin-right: 1%;
    margin-left: 1%;  
}

.header .overlay .order {
    border: 4px solid #FFF;
    font-size: 24px;
    padding: 20px;
    margin: 30px 1% 0;
}

/* Custom Media Not Found On Boostrap*/
@media (max-width: 420px) {
    h1 {
        margin-top: 20px !important;
        font-size: 50px !important;
    }
    .header .overlay .plan {
        float: none;
        margin: 0 auto 20px;
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    .header .overlay .plan {
        float: none;
        margin: 0 auto 20px;
        font-size: 22px;
    }
}
/* -- End Header -- */
/*-- Start Features --*/
.features {
    padding: 30px 0;
}
.features .feat {
    padding: 0 20px 0 0;
    margin-bottom: 30px;
}
.features .h1 {
    font-size: 50px;
    color: #555;
}
.features .feat h2 {
    margin: 10px 0 8px;
}
.features .feat p {
    line-height: 1.6;
    margin: 0;
}

@media (max-width: 767px) {
    .features .feat {
        text-align: center;
    }
    .features .feat:nth-of-type(even){
        background-color: #DDD;
    }
}

@media (min-width: 768px) {
    .features .feat {
        width: 50%;
    }
}
    
@media (min-width: 992px) {
    .features .feat {
        width: 33.33333%;
    }
}
/*-- End Features --*/






















/* min = From --- max = To */


@media (max-width: 767px) { /* Mobile & Tablet Rules */
    h1 {
        margin-top: 40px !important;
    }
    .visible-xs {
        display: block !important;
    }
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) { /* Small Screen Rules */
    .container {
        width: 750px;
    }
    .visible-sm {
        display: block !important;
    }
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) { /* Medium Screen Rules */
    .container {
        width: 970px;
    }
    .visible-md {
        display: block !important
    }
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1200px) { /* Large Screen Rules */
    .container {
        width: 970px;
    }
    .visible-lg {
        display: block !important
    }
    .hidden-lg {
        display: none !important;
    }
}





/* -- Start My Framework -- */
.text-center {text-align: center}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.clearfix {clear: both}

.visible-xs,                 /* Mobile Screen */
.visible-sm,                 /* Small Screen */
.visible-md,                 /* Medium Screen */
.visible-lg {display: none}  /* Large Screen */

.F-L {float: left}

.F-R {float: right}

.h1 {font-size: 2em}
/* -- End My Framework -- */

